<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img
      src="{{ url_for('static', filename='assets/logo/logo.svg') }}"
      alt="logo"
      height="50"
    />
  </a>
  <div class="ml-auto d-flex align-items-center">
    <div class="nav-buttons">
      <a href="/interview/v">
        <button type="button" class="btn btn-dark">Video</button>
      </a>
      <a href="/Audio_Interview">
        <button type="button" class="btn btn-dark">Audio</button>
      </a>
    </div>
    <a href="/profile">
      <button type="button" class="btn btn-light ml-3">
        <img
          src="{{ url_for('static', filename='images/profile-user-svgrepo-com.svg') }}"
          alt="Profile"
          height="30"
        />
      </button>
    </a>
  </div>
</nav>
